<div class=" container jumbotron">
    <h1 class="text-center text-primary mt-3">Account Head DashBoard working</h1>

    <table class="table">
        <tbody>
          <tr>
            <th >Id</th>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Loan Amount</td>
            <td>Civil Ok</td>
            <td>Loan Disbursed</td>
            <td>Loan Approved</td>
            <td>File Verified</td>
                <td>Rejected</td>
                <td>Actions</td>

          </tr>

         
          <tr  *ngFor="let file of files">
            <th >{{file.id}}</th>
            <td>{{file.applicant.person.firstname}}</td>
            <td>{{file.applicant.person.lastname}}</td>
            <td>{{file.loanAmount}}</td>
            <td>{{file.creditOk}}</td>
            <td>{{file.loanDisbursed}}</td>

            <td>{{file.loanApproved}}</td>
            <td>{{file.documentVerified}}</td>

            <td>{{file.loanRejected}}</td>

            <td>
              <td>
                <button class="btn btn-sm btn-success" (click)="disburseLoan(file)"> Disburse Loan </button>

            </td>
        
          </tr>

        </tbody>
      </table>

</div>