<div class="container">
    <h1> Register Here </h1>
    
            <mat-card class="mt-5">

                <div class="container text-center">


                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


                        <div formGroupName="person">
                            <div class="row">
                                <div class="col-md-6">

                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Firstname </mat-label>
                                        <input matInput type="text" formControlName="firstname" required name="firstname">
                                    </mat-form-field>

                                </div>
                                <div class="col-md-6">

                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Lastname </mat-label>
                                        <input matInput type="text" formControlName="lastname" required name="lastname">
                                    </mat-form-field>
        
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Email </mat-label>
                                        <input matInput type="text" formControlName="email" required name="email">
                                    </mat-form-field>

                                </div>
                                <div class="col-md-6">
                                    
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Mobile </mat-label>
                                <input matInput type="text" formControlName="mobile" required name="mobile">
                            </mat-form-field>

                                </div>
                            </div>

                          

                          

                            

                          


                        </div>

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Username </mat-label>
                            <input matInput type="text" formControlName="username" required name="username">
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" required formControlName="password" name="password">
                        </mat-form-field>



                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Aadhar </mat-label>
                            <input matInput type="text" formControlName="aadhar" required name="email">
                        </mat-form-field>


                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Pan </mat-label>
                            <input matInput type="text" formControlName="pan" required name="mobile">
                        </mat-form-field>

                        <button type="submit" mat-raised-button color="primary" class="btn  btn-block m-2 ">
                            <span>Register </span>
                        </button>

                    </form>




                </div>
                <mat-divider>
                </mat-divider>

                <button routerLink="/register" class="btn btn-success  btn-block mt-3">
                    Create New Account
                </button>

            </mat-card>
       
</div>