<div>
    <div class="row">
  <div class="col-md-3">
    <div class="container-fluid">
        <mat-card>
        
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" routerLink="/header/technical-caller-head">
                    Caller Head
                </button>
                <button type="button" class="list-group-item list-group-item-action" routerLink="all-files">All-File
                </button>
               
               
                <button type="button" class="list-group-item list-group-item-action" routerLink="bad-applicant"> Applicants
                </button>
              </div>
        
        
         </mat-card>
           
        </div>
  
  
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
  
    </div>
  </div>