<div>
    <div class="row">
<div class="col-md-3">
    <div class="container-fluid">
        <mat-card>
        
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" routerLink="/admin">
                    Admin
                </button>
                <button type="button" class="list-group-item list-group-item-action" routerLink="user-list">User List
                </button>
                <button type="button" class="list-group-item list-group-item-action" routerLink="category">Category
                </button>
                <button type="button" class="list-group-item list-group-item-action" routerLink="add-category">Add Category
                </button>
                <button type="button" class="list-group-item list-group-item-action" routerLink="show-quizz">Quizz</button>
                <button type="button" class="list-group-item list-group-item-action" routerLink="add-quizz">Add Quizz</button>
              </div>
        
        
         </mat-card>
           
        </div>


</div>
<div class="col-md-9">
    <router-outlet></router-outlet>
</div>

    </div>
</div>