<table class="table">
        <tbody>
          <tr>
            <th >Id</th>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Product</td>
            <td>Loan Amount</td>

            <td>Civil Ok</td>           
            <td>File Verified</td>
            <td>Loan Approved</td>
            <td>Loan Disbursed</td>

                <td>Rejected</td>
                <td>Action</td>

          </tr>

         
          <tr  *ngFor="let file of files">
            <th >{{file.id}}</th>
            <td>{{file.applicant.person.firstname}}</td>
            <td>{{file.applicant.person.lastname}}</td>
            <td *ngIf="file.electronicItem !=null">{{file.electronicItem.productName}}</td>
            <td *ngIf="file.electronicItem !=null">{{file.electronicItem.price}}</td>

            <td >{{file.creditOk ==true ? 'Approved' : 'Pending'}}</td>
            <td> {{file.documentVerified ==true ? 'Approved' : 'Pending'}} </td>

          
            <td> {{file.loanApproved ==true ? 'Approved' : 'Pending'}}</td>
            <td>{{file.loanDisbursed ==true ? 'Disbursed' : 'Pending'}}</td>

            <td>{{file.loanRejected ==true ? 'Rejected' : '--'}}</td>
<td><button  (click)="send(file.id)"> Send To RE</button></td>
          </tr>

        </tbody>
      </table>